# Ignore swp files from vim
*.swp

# Laravel 5 Specific
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

# AvoRed Specific
storage/framework/bootstrap/cache/services.php
/packages
/themes/*
/public/cov/*

# Include Default Theme
!/themes/avored
/themes/avored/*
!/themes/avored/default

# Etc
composer.lock
public/mix-manifest.json
package-lock.json
