

@primary-color: #1890ff;  
@link-color: #dc281e;

@import '~ant-design-vue/dist/antd.less';
@import 'catalog';

.layout .logo {
  background-image: url(/images/logo.svg?6c9c86b…);
  color: #fff;
  font-size: 19px;
  line-height: 35px;
  background-repeat: no-repeat;
  text-indent: 50px;
  height: 53px;
  margin: 5px 10px 5px 0px;
  background-size: 105px;
}

.navigation {
  line-height: 64px;
  text-align: right;
}
