.myaccount-text-wrapper{
    background-color: $white;
    padding: 20px 20px;
}

.myaccount-content {
    min-height: 300px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ededed;
    padding: 30px;
}

.myaccount-content form {
    margin-top: -20px;
}

.myaccount-content h3 {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dashed $gray !important;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 0;
}

.myaccount-table {
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.5;
}

.myaccount-table table th,
.myaccount-table .table th {
    color: #262626;
    padding: 10px;
}

.myaccount-table table td,
.myaccount-table .table td {
    padding: 15px 10px;
    vertical-align: middle;
}

.myaccount-table table .btn,
.myaccount-table .table .btn {
    padding: 10px 20px;
}

.myaccount-sidebar {
    color: $black !important;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-sidebar a {
    color: $black;
	border: 1px solid #ededed;
    border-bottom: none;
    display: block;
    padding: 15px;
    decoration: none !important;
}

.myaccount-sidebar a:hover{
    background-color: $gray-200;
    color: $black;
    text-decoration: none;
}

.active-link{
    background-color: $red !important;
    color: $white !important;
    text-decoration: none;
}

.myaccount-sidebar-item a:last-child {
    border-bottom: 1px solid #ededed;
}