/* Large Desktop Device :1501px*/
@media (min-width: 1501px) {
	.container {
	    max-width: 1370px;
	    padding-left: 0;
	    padding-right: 0;
	}
}

/*Desktop Device : 1200px*/
@media (min-width: 1200px) and (max-width: 1500px) {
	.container {
	    max-width: 1170px;
	    padding-left: 0;
	    padding-right: 0;
	}
}

@media only screen and (max-width: 575px) {
    .myaccount-content {
        padding: 20px 15px;
    }
}