h1 {
  font-size: 36px;
  margin: 28px 0;
}

h2 {
  font-size: 30px;
  margin: 25px 0;
}

h3 {
  font-size: 22px;
  margin: 22px 0;
}

h4 {
  font-size: 20px;
  margin: 20px 0;
}

h5 {
  font-size: 18px;
  margin: 18px 0;
}

h6 {
  font-size: 16px;
  margin: 18px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  clear: both;
  font-weight: 600;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
}

p {
    margin-bottom: 1.5em;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 25px;
}

