.avored-table {
    width: 100%;
   
    
    // .avored-table-row
    &-row {
        display: flex;
       
        &.header {
            background-color: $primary;
            color: $white;
           
        } 
        
        .avored-table-cell {
            padding: 0.5em;

            a, i {
                color: $white;
            }
        }
    }



    &-body {

        .avored-table-row {
            &:hover { 
                background-color: darken($light, 20%); 
               
            }
           
            .avored-table-cell {
                padding: 0.5em;

                a {
                    color:inherit;
                }
            }
        }

    }
   
    
  }