.bg-site-color {
    background-color: #ff0041;
}

.bg-site-second-color {
    background-color: #510094;
}

.navbar-brand {
    display: inline-block;
    width: 155px;
    height: 40px;
    padding: 0px;
    margin-right: 0;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.datetime.form-control:disabled,
.datetime.form-control[readonly] {
    background: #fff;
}

.remove-variation-card {
    position: absolute;
    right: 25px;
    z-index: 1;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    top: 15px;
}

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.tag a {
    margin: 0 0 0 .3em;
}

.widget-column {
    min-height: 100px;
}